.eventsSlider {
  position: relative;
  padding-left: calc(100% / 12);
  padding-right: calc(100% / 12);
  margin: 20px 0;
  min-height: 220px;
  display: flex;
  h3 {
    color: #3877ee;
  }

  @media (min-width: 1024px) {
    align-items: center;
    .swiper-slide {
      width: 300px;
    }
  }
}

@media (min-width: 1024px) {
  .switchEvent {
    position: absolute;
    background: white;
    box-shadow: 0 0 5px 5px rgba(56, 119, 238, 0.25);
    border: none;
    top: 50%;
    width: 40px;
    height: 40px;
    &:disabled {
      cursor: unset;
    }
  }
  #nextEvent {
    right: calc(100% / 24);
    transform: translate(50%, -50%);
  }
  #prevEvent {
    left: calc(100% / 24);
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1023px) {
  .eventsSlider {
    padding: 0;

    .switchEvent {
      display: none;
    }
    .swiper-slide {
      margin-left: 20px;
      width: 200px;
      &:not(:first-child) {
        opacity: 0.5;
      }
    }
  }
}
