@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.roundButton {
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  border: 1px solid;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

$buttonColor: #42567a;

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #42567a;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  position: relative;
  @media (min-width: 1024px) {
    margin: 0 calc(100% / 12) 0 calc(100% / 6);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    min-height: 100vh;

    background-image: linear-gradient(90deg, gray 1px, transparent 2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1px 100%;
  }
  .segmentsNavigation {
    position: absolute;
    bottom: 0;
    @media (min-width: 1024px) {
      bottom: 31%;
    }
  }
}

.pagination {
  display: flex;
  gap: 5%;
  justify-content: center;
  .dot {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: lightgray;
    background-clip: content-box;
  }
  .active {
    background-color: #42567a;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

h1 {
  margin: 0;

  @media (min-width: 1024px) {
    background:
      linear-gradient(90deg, transparent 5px, white 6px),
      linear-gradient(0, #ef5da8, #3877ee);
    font-size: 56px;
    padding: 0 calc(100% / 12);
  }

  @media (max-width: 1023px) {
    padding: 0 20px;
    font-size: 20px;
  }
}

.switchSegment {
  color: #42567a;
  border-color: #9ba6ba;
  width: 50px;
  height: 50px;

  background: transparent no-repeat center;
  &.disabled {
    color: #9ba6ba;
    border-color: #c8ceda;
  }
}
